<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="text" id="password" formControlName="password">
  </div>
  <div class="form-control">
    <label for="confirm-password">Confirm Password</label>
    <input type="text" id="confirm-password" formControlName="confirmPassword">
  </div>
  @if(form.errors && form.errors['passwordNotMatch']) {
    <span class="text-error">Passwords must be equals</span>
  }
  <button>Sent</button>
</form>